
@font-face {
    font-family: 'mamontovblack';
    src: url('mamontovblack.eot');
    src: url('mamontovblack.eot?#iefix') format('embedded-opentype'),
         url('mamontovblack.woff2') format('woff2'),
         url('mamontovblack.woff') format('woff'),
         url('mamontovblack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mamontovblack_condensed';
    src: url('mamontovblackcondensed.eot');
    src: url('mamontovblackcondensed.eot?#iefix') format('embedded-opentype'),
         url('mamontovblackcondensed.woff2') format('woff2'),
         url('mamontovblackcondensed.woff') format('woff'),
         url('mamontovblackcondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mamontovblack_expanded';
    src: url('mamontovblackexpanded.eot');
    src: url('mamontovblackexpanded.eot?#iefix') format('embedded-opentype'),
         url('mamontovblackexpanded.woff2') format('woff2'),
         url('mamontovblackexpanded.woff') format('woff'),
         url('mamontovblackexpanded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mamontovblack_italic';
    src: url('mamontovblackitalic.eot');
    src: url('mamontovblackitalic.eot?#iefix') format('embedded-opentype'),
         url('mamontovblackitalic.woff2') format('woff2'),
         url('mamontovblackitalic.woff') format('woff'),
         url('mamontovblackitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mamontovblack_wide';
    src: url('mamontovblackwide.eot');
    src: url('mamontovblackwide.eot?#iefix') format('embedded-opentype'),
         url('mamontovblackwide.woff2') format('woff2'),
         url('mamontovblackwide.woff') format('woff'),
         url('mamontovblackwide.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mamontovbold';
    src: url('mamontovbold.eot');
    src: url('mamontovbold.eot?#iefix') format('embedded-opentype'),
         url('mamontovbold.woff2') format('woff2'),
         url('mamontovbold.woff') format('woff'),
         url('mamontovbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mamontovbold_condensed';
    src: url('mamontovboldcondensed.eot');
    src: url('mamontovboldcondensed.eot?#iefix') format('embedded-opentype'),
         url('mamontovboldcondensed.woff2') format('woff2'),
         url('mamontovboldcondensed.woff') format('woff'),
         url('mamontovboldcondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mamontovbold_expanded';
    src: url('mamontovboldexpanded.eot');
    src: url('mamontovboldexpanded.eot?#iefix') format('embedded-opentype'),
         url('mamontovboldexpanded.woff2') format('woff2'),
         url('mamontovboldexpanded.woff') format('woff'),
         url('mamontovboldexpanded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mamontovbold_italic';
    src: url('mamontovbolditalic.eot');
    src: url('mamontovbolditalic.eot?#iefix') format('embedded-opentype'),
         url('mamontovbolditalic.woff2') format('woff2'),
         url('mamontovbolditalic.woff') format('woff'),
         url('mamontovbolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mamontovbold_wide';
    src: url('mamontovboldwide.eot');
    src: url('mamontovboldwide.eot?#iefix') format('embedded-opentype'),
         url('mamontovboldwide.woff2') format('woff2'),
         url('mamontovboldwide.woff') format('woff'),
         url('mamontovboldwide.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mamontovcondensed';
    src: url('mamontovcondensed.eot');
    src: url('mamontovcondensed.eot?#iefix') format('embedded-opentype'),
         url('mamontovcondensed.woff2') format('woff2'),
         url('mamontovcondensed.woff') format('woff'),
         url('mamontovcondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mamontovexpanded';
    src: url('mamontovexpanded.eot');
    src: url('mamontovexpanded.eot?#iefix') format('embedded-opentype'),
         url('mamontovexpanded.woff2') format('woff2'),
         url('mamontovexpanded.woff') format('woff'),
         url('mamontovexpanded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'mamontovextrabold';
	src: url('mamontovextrabold.eot');
	src: url('mamontovextrabold.eot?#iefix') format('embedded-opentype'),
			 url('mamontovextrabold.woff2') format('woff2'),
			 url('mamontovextrabold.woff') format('woff'),
			 url('mamontovextrabold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mamontovextrabold_condensed';
	src: url('mamontovextraboldcondensed.eot');
	src: url('mamontovextraboldcondensed.eot?#iefix') format('embedded-opentype'),
			 url('mamontovextraboldcondensed.woff2') format('woff2'),
			 url('mamontovextraboldcondensed.woff') format('woff'),
			 url('mamontovextraboldcondensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mamontovextrabold_expanded';
	src: url('mamontovextraboldexpanded.eot');
	src: url('mamontovextraboldexpanded.eot?#iefix') format('embedded-opentype'),
			 url('mamontovextraboldexpanded.woff2') format('woff2'),
			 url('mamontovextraboldexpanded.woff') format('woff'),
			 url('mamontovextraboldexpanded.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mamontovextrabold_italic';
	src: url('mamontovextrabolditalic.eot');
	src: url('mamontovextrabolditalic.eot?#iefix') format('embedded-opentype'),
			 url('mamontovextrabolditalic.woff2') format('woff2'),
			 url('mamontovextrabolditalic.woff') format('woff'),
			 url('mamontovextrabolditalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mamontovextrabold_wide';
	src: url('mamontovextraboldwide.eot');
	src: url('mamontovextraboldwide.eot?#iefix') format('embedded-opentype'),
			 url('mamontovextraboldwide.woff2') format('woff2'),
			 url('mamontovextraboldwide.woff') format('woff'),
			 url('mamontovextraboldwide.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mamontovitalic';
	src: url('mamontovitalic.eot');
	src: url('mamontovitalic.eot?#iefix') format('embedded-opentype'),
			 url('mamontovitalic.woff2') format('woff2'),
			 url('mamontovitalic.woff') format('woff'),
			 url('mamontovitalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mamontovlight';
	src: url('mamontovlight.eot');
	src: url('mamontovlight.eot?#iefix') format('embedded-opentype'),
			 url('mamontovlight.woff2') format('woff2'),
			 url('mamontovlight.woff') format('woff'),
			 url('mamontovlight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mamontovlight_condensed';
	src: url('mamontovlightcondensed.eot');
	src: url('mamontovlightcondensed.eot?#iefix') format('embedded-opentype'),
			 url('mamontovlightcondensed.woff2') format('woff2'),
			 url('mamontovlightcondensed.woff') format('woff'),
			 url('mamontovlightcondensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mamontovlight_expanded';
	src: url('mamontovlightexpanded.eot');
	src: url('mamontovlightexpanded.eot?#iefix') format('embedded-opentype'),
			 url('mamontovlightexpanded.woff2') format('woff2'),
			 url('mamontovlightexpanded.woff') format('woff'),
			 url('mamontovlightexpanded.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mamontovlight_italic';
	src: url('mamontovlightitalic.eot');
	src: url('mamontovlightitalic.eot?#iefix') format('embedded-opentype'),
			 url('mamontovlightitalic.woff2') format('woff2'),
			 url('mamontovlightitalic.woff') format('woff'),
			 url('mamontovlightitalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mamontovlight_wide';
	src: url('mamontovlightwide.eot');
	src: url('mamontovlightwide.eot?#iefix') format('embedded-opentype'),
			 url('mamontovlightwide.woff2') format('woff2'),
			 url('mamontovlightwide.woff') format('woff'),
			 url('mamontovlightwide.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mamontov_regularregular';
	src: url('mamontovregular.eot');
	src: url('mamontovregular.eot?#iefix') format('embedded-opentype'),
			 url('mamontovregular.woff2') format('woff2'),
			 url('mamontovregular.woff') format('woff'),
			 url('mamontovregular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mamontovwide';
	src: url('mamontovwide.eot');
	src: url('mamontovwide.eot?#iefix') format('embedded-opentype'),
			 url('mamontovwide.woff2') format('woff2'),
			 url('mamontovwide.woff') format('woff'),
			 url('mamontovwide.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}